<footer class="footer">
    <style>
        .footer {
            background-color: #000;
            color: #fff;
            padding: 50px 0;
        }

            .footer h4 {
                color: #fff;
                display: inline-block;
                border-bottom: 1px solid #fff; /* Đường gạch ngang phân chia */
                padding-bottom: 10px; /* Khoảng cách giữa tiêu đề và đường gạch */
            }

        .footer_social ul li {
            display: block; /* Hiển thị các list item dạng block */
            margin-bottom: 10px; /* Khoảng cách giữa các list item */
        }

            .footer_nav_container ul li a {
                color: #fff;
            }

                .footer_nav_container ul li a:hover {
                    color: #ccc; /* Màu chữ khi hover */
                }

        .footer_social ul li {
            display: inline-block; /* Hiển thị các list item cùng dòng */
            margin-right: 10px; /* Khoảng cách giữa các list item */
        }

            .footer_social ul li a {
                color: #fff;
            }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="footer_social">
                    <h4>Về chúng tôi</h4>
                    <ul class="footer_nav">
                        <li><a href="#">Câu chuyện thương hiệu</a></li>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Tuyển dụng</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer_social">
                    <h4>Chính sách bán hàng</h4>
                    <ul class="footer_nav">
                        <li><a href="#">Chính sách đổi hàng</a></li>
                        <li><a href="#">Chính sách bảo hành</a></li>
                        <li><a href="#">Chính sách hội viên</a></li>
                        <li><a href="#">Chính sách đổi trả</a></li>
                        <li><a href="#">Hướng dẫn mua hàng</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer_social">
                    <h4>Tư vấn</h4>
                    <ul class="footer_nav">
                        <li><a href="#">Tư vấn phong cách</a></li>
                        <li><a href="#">Tư vấn chọn size</a></li>
                        <li><a href="#">Hỏi đáp</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer_social">
                    <h4>Follow us</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
